#####################
## Source not needed
#####################
.vscode/
piobuild/
.pioenvs
.cache

data_v1.00/
data_v1.02/
webdev/

precache.html
index_dropzone.htm
node_modules/
dist/


#############
## detritus
#############
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

